<div class="container">
  <div class="cards-all">
          <% @morties.each do |morty| %>
            <% last_reservation = morty.reservations.last %>
            <% morty_display_image_condition = last_reservation.present? && last_reservation.confirmation? %>
            <%= render 'shared/cards-small', morty: morty, morty_display_image_condition: morty_display_image_condition %>
          <% end %>
        </div>
</div>

