.status-text {
  font-size:20px;
  color: #5AB01C;
  text-align: center;
  border: 2px solid;
  border-radius: 20px;
  width: 50%;
  margin:auto;
}

.validation-button {
  font-size:20px;
  width:100px;
  padding: 8px;
  text-align: center;
  color: #5AB01C;
  border: 2px solid;
  border-radius: 20px;
  margin: 16px;
  &:hover {
    background: #5AB01C;
    color: white;
    border-color: #5AB01C;
    text-decoration:none;
  }
}

.rejection-button {
  font-size:20px;
  width:100px;
  padding: 8px;
  text-align: center;
  color: red;
  border: 2px solid;
  border-radius: 20px;
  margin: 16px;
  &:hover {
    background: red;
    color: white;
    border-color: red;
    text-decoration:none;
  }
}

#booked-img {
  height: 200px;
  width: auto;
  position: absolute;
  top: 96px;

}

.fa-heart{
  position: absolute;
  top: 64px;
  left: 780px;
  font-size: 40px;
  color: #5AB01C;
  &:hover {
    opacity: 0.8;
  }
}

.review-content {
  font-size: 20px;
}
