.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

#navbar-text p {
color:white;
margin-bottom:0rem;
font-weight:bold;
}

.navbar {
padding-bottom:0rem;
}

.notification {
  color: #fbf875;
  &:hover {
    color: #fbf875;
  }
}

