.header-shadow {
    position: absolute;
    top: -90px;
    left: auto;
    font-size: 110px;
    color: rgb(244, 244, 244);
    text-shadow: 4px 8px 6px #597b14;
    font-family: 'Creepster', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.highlight {
    font-size: 20px;
    text-decoration: underline;
    color: #5AB01C;
}

.pricing {
    font-size: 30px;
}


.banner-title {
    font-size: 110px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: whitesmoke;
}

.header-shadow-small {
    position: absolute;
    top: -23px;
    left: auto;
    font-size: 32px;
    color: rgb(244, 244, 244);
    text-shadow: 2px 2px 4px #597B14;
    font-family: 'Creepster', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.form-inputs{
   color: white;
 }
