.header-shadow {
    position: absolute;
    top: -65px;
    left: auto;
    font-size: 80px;
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 2px #89B748;
    font-family: 'Creepster', cursive;
}

.highlight {
    font-size: 20px;
    text-decoration: underline;
    color: #5AB01C;
}

.pricing {
    font-size: 30px;
}